---
const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Build with <a href="https://astro.build/" target="_blank">Astro</a>❤️. Modified theme
        from <a href="https://github.com/markteekman/accessible-astro-starter" target="_blank">Astro Starter</a>.
      </p>
    </div>
  </section>
</footer>
