---
// import { Icon } from 'astro-icon/components'
import ContentMedia from '../components/ContentMedia.astro'

// const { src = '/astronaut-hero-img.webp' } = Astro.props
---

<section class="hero img-avatar my-12">
  <ContentMedia imgSrc="/avatar-min.png">
    <h2>Hi, I'm Luis Vinicius!</h2>
    <p class="text-2xl">
      Passionate developer (since 2010) and tech enthusiast who is always up to learn about new things. Experienced
      system developer with a demonstrated history of working in the information technology and services industry.
      Skilled in .NET/.NET Core with C# (winforms, webforms, MVC, Web API, Minimal Api), Visual Basic, Classic ASP, SQL
      Server, Oracle PL/SQL, Git, Docker, Kubernetes, Javascript, AngularJs, HTML, CSS.
    </p>
  </ContentMedia>
</section>
<section>
  <div class="container">
    <h3>🛠 Tech Stack</h3>
    
    <ul class="badget-list">
      <li>
        <a href="https://dotnet.microsoft.com/languages/csharp" target="_blank"
          ><img
            src="https://img.shields.io/badge/C%23-2C363F?style=flat&logo=csharp&link=https://dotnet.microsoft.com/languages/csharp"
            alt="C#"
          /></a
        >
      </li>
      <li>
        <a href="https://learn.microsoft.com/dotnet/visual-basic/" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Visual%20Basic-2C363F?style=flat&logo=visualbasic&link=https://learn.microsoft.com/dotnet/visual-basic/"
            alt="Visual Basic"
          /></a
        >
      </li>
      <li>
        <a href="https://dotnet.microsoft.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/.NET-2C363F?style=flat&logo=dotnet&link=https://dotnet.microsoft.com"
            alt=".NET"
          /></a
        >
      </li>
      <li>
        <a href="https://www.microsoft.com/sql-server/" target="_blank"
          ><img
            src="https://img.shields.io/badge/SqlServer-2C363F?style=flat&logo=microsoftsqlserver&link=https://www.microsoft.com/sql-server/"
            alt="SqlServer"
          /></a
        >
      </li>
      <li>
        <a href="https://www.postgresql.org" target="_blank"
          ><img
            src="https://img.shields.io/badge/PostgreSQL-2C363F?style=flat&logo=postgresql&link=https://www.postgresql.org/"
            alt="PostgreSQL"
          /></a
        >
      </li>
      <li>
        <a href="https://www.mongodb.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/MongoDB-2C363F?style=flat&logo=mongodb&link=https://www.mongodb.com"
            alt="MongoDB"
          /></a
        >
      </li>
      <li>
        <a href="https://redis.io/" target="_blank"
          ><img
            src="https://img.shields.io/badge/Redis-2C363F?style=flat&logo=redis&link=https://redis.io/"
            alt="Redis"
          /></a
        >
      </li>
      <li>
        <a href="https://www.rabbitmq.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/RabbitMQ-2C363F?style=flat&logo=rabbitmq&link=https://www.rabbitmq.com/"
            alt="RabbitMQ"
          /></a
        >
      </li>
      <li>
        <a href="https://www.elastic.co" target="_blank"
          ><img
            src="https://img.shields.io/badge/Elastic-2C363F?style=flat&logo=elastic&link=https://www.elastic.co"
            alt="Elastic"
          /></a
        >
      </li>
      <li>
        <a href="https://grafana.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/Grafana-2C363F?style=flat&logo=grafana&link=https://grafana.com/"
            alt="Grafana"
          /></a
        >
      </li>
      <li>
        <a href="https://developer.mozilla.org/docs/Web/JavaScript" target="_blank"
          ><img
            src="https://img.shields.io/badge/-JavaScript-2C363F?style=flat&logo=javascript&link=https://developer.mozilla.org/docs/Web/JavaScript"
            alt="JavaScript"
          /></a
        >
      </li>
      <li>
        <a href="https://www.w3.org/Style/CSS" target="_blank"
          ><img
            src="https://img.shields.io/badge/-CSS3-2C363F?style=flat&logo=css3&link=https://www.w3.org/Style/CSS/"
            alt="CSS3"
          /></a
        >
      </li>
      <li>
        <a href="https://html.spec.whatwg.org" target="_blank"
          ><img
            src="https://img.shields.io/badge/-HTML5-2C363F?style=flat&logo=html5&link=https://html.spec.whatwg.org/"
            alt="HTML5"
          /></a
        >
      </li>
      <li>
        <a href="https://git-scm.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Git-2C363F?style=flat&logo=git&link=https://git-scm.com/"
            alt="Git"
          /></a
        >
      </li>
      <li>
        <a href="https://github.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-GitHub-2C363F?style=flat&logo=github&link=https://github.com/"
            alt="GitHub"
          /></a
        >
      </li>
      <li>
        <a href="https://about.gitlab.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-GitLab-2C363F?style=flat&logo=gitlab&link=https://about.gitlab.com/"
            alt="GitLab"
          /></a
        >
      </li>
      <li>
        <a href="https://www.docker.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Docker-2C363F?style=flat&logo=docker&link=https://www.docker.com/"
            alt="Docker"
          /></a
        >
      </li>
      <li>
        <a href="https://kubernetes.io" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Kubernetes-2C363F?style=flat&logo=kubernetes&link=https://kubernetes.io/"
            alt="Kubernetes"
          /></a
        >
      </li>
      <li>
        <a href="https://code.visualstudio.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Visual%20Studio%20Code-2C363F?style=flat&logo=visualstudiocode&link=https://code.visualstudio.com/"
            alt="Visual Studio Code"
          /></a
        >
      </li>
      <li>
        <a href="https://www.jetbrains.com/rider" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Rider-2C363F?style=flat&logo=rider&link=https://www.jetbrains.com/rider/"
            alt="Rider"
          /></a
        >
      </li>
      <li>
        <a href="https://visualstudio.microsoft.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Visual%20Studio-2C363F?style=flat&logo=visualstudio&link=https://visualstudio.microsoft.com"
            alt="Visual Studio"
          /></a
        >
      </li>
      <li>
        <a href="https://www.postman.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Postman-2C363F?style=flat&logo=postman&link=https://www.postman.com/"
            alt="Postman"
          /></a
        >
      </li>
      <li>
        <a href="https://www.linux.org/" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Linux-2C363F?style=flat&logo=linux&link=https://www.linux.org/"
            alt="Linux"
          /></a
        >
      </li>
      <li>
        <a href="https://www.figma.com" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Figma-2C363F?style=flat&logo=figma&link=https://www.figma.com/"
            alt="Figma"
          /></a
        >
      </li>
      <li>
        <a href="https://www.canva.com/" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Canva-2C363F?style=flat&logo=canva&link=https://www.canva.com/"
            alt="Canva"
          /></a
        >
      </li>
      <li>
        <a href="https://www.notion.so" target="_blank"
          ><img
            src="https://img.shields.io/badge/-Notion-2C363F?style=flat&logo=notion&link=https://www.notion.so"
            alt="Notion"
          /></a
        >
      </li>
    </ul>
    
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
